@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "IBM Plex Mono", Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --selection-color: #14532d; /* Tailwind green-500 */

        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .theme {
        --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

div[data-state="expanded"] + main {
    max-width: calc(100% - var(--sidebar-width));
}

main {
    max-width: calc(100%);
}

a[target="_blank"]:not(:has(*)) {
    @apply cursor-alias text-blue-400;
}

/*a[target="_blank"]:not(:has(*))::before,
a[target="_blank"]:not(:has(*))::after {
    @apply text-foreground font-body;
}*/

a[target="_blank"]:not(:has(*))::before {
    @apply content-['['];
}

a[target="_blank"]:not(:has(*))::after {
    @apply content-[']'];
}

[data-rehype-pretty-code-figure] {
    @apply max-w-screen-sm xl:max-w-screen-md 2xl:max-w-screen-lg mx-auto;
}

[data-rehype-pretty-code-figure] pre {
    @apply p-4 rounded-2xl shadow overflow-x-hidden whitespace-pre-wrap;
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

code[data-theme*=" "] span {
    color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
    [data-rehype-pretty-code-figure] pre {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
    }

    code[data-theme*=" "] span {
        color: var(--shiki-dark);
    }
}

pre code [data-line] {
    @apply transition-all duration-500;
}

pre code [data-highlighted-line],
pre code .highlighted,
pre code [data-line].highlighted.error,
pre code [data-line].highlighted.warning,
pre code [data-line].diff.remove,
pre code [data-line].diff.add {
    @apply -mx-6 inline-block px-6;
    width: calc(100% + 48px);
}

pre code .highlighted,
pre code [data-highlighted-line],
pre code [data-highlighted-chars] {
    @apply bg-muted-foreground/20;
}

pre code [data-line] [data-highlighted-chars] {
    @apply rounded-md border border-muted-foreground px-1 py-0.5;
}

pre code [data-line].highlighted.warning {
    @apply bg-amber-500/20;
}

pre code [data-line].highlighted.error,
pre code [data-line].diff.remove {
    @apply bg-red-500/20;
}

pre code [data-line].diff.remove::before {
    @apply -ml-2.5 text-red-500 content-['-'];
}

pre code [data-line].diff.add {
    @apply bg-green-500/20;
}

pre code [data-line].diff.add::before {
    @apply -ml-2.5 text-green-500 content-['+'];
}

pre.has-focused code [data-line]:not(.focused) {
    @apply opacity-80;
    filter: blur(0.1rem);
}

ol,
ul {
    @apply list-inside lg:list-outside;
}

[data-sidebar] ul,
nav ol,
nav ul {
    @apply list-none;
}

article li {
    @apply mb-4;
}

li::marker {
    @apply text-muted-foreground font-note;
}

ol {
    @apply list-decimal;
}

ol li p {
    @apply px-0;
}

ul {
    list-style-type: "- ";
}

main > header {
    @apply transition-all duration-200 ease-linear left-0;
}

.group\/sidebar-wrapper:has([data-state="expanded"]) main > header {
    @apply md:left-[var(--sidebar-width)];
}

:not(pre) > code {
    @apply text-green-700 dark:text-green-400;
}

:not(pre) > code::before,
:not(pre) > code::after {
    @apply font-body;
}

:not(pre) > code::before {
    content: "`";
}

:not(pre) > code::after {
    content: "`";
}

sup {
    @apply text-muted-foreground;
}

main > article figure blockquote > *::before,
main > article figure blockquote > *::after {
    content: "";
}

main > article em {
    @apply text-indigo-600  dark:text-indigo-400;
}

main > article em::before,
main > article em::after {
    content: "_";
}

main > article strong {
    @apply text-amber-700 dark:text-amber-400;
}

main > article strong::before,
main > article strong::after {
    content: "**";
}

main > article h2,
main > article h3,
main > article h4 {
    @apply text-rose-700 dark:text-rose-400 font-bold;
}

main > article h2::before {
    content: "# ";
}

main > article h3::before {
    content: "## ";
}

main > article h4::before {
    content: "### ";
}

main > article em::before,
main > article em::after {
    content: "_";
}

main > article *::selection {
    @apply bg-muted-foreground/10;
}

figure:has(blockquote)::before,
figure:has(blockquote)::after {
    @apply text-9xl font-note;
}

figure:has(blockquote)::before {
    content: "“";
}

figure:has(blockquote)::after {
    @apply w-full inline-block text-right;
    content: "”";
}

figure:has(blockquote) figcaption {
    @apply text-right font-note;
}

figure:has(blockquote) figcaption::before {
    content: "— ";
}

figure:not(:has(blockquote)) figcaption {
    @apply text-indigo-700 dark:text-indigo-400;
}

figure:not(:has(blockquote)) figcaption::before {
    content: "![";
}
figure:not(:has(blockquote)) figcaption::after {
    content: "]";
}

@theme inline {
    @keyframes blink-cursor {
        0%,
        49% {
            opacity: 1;
        }
        50%,
        100% {
            opacity: 0;
        }
    }
}
